<div class="table-responsive" data-filter-response>
	<div class="dataTables_wrapper">
		{{ include('blocks/paginate.html.twig', {'numPages': paginator.numPages, 'numResults': paginator.numResults}) }}

		<div class="row">
			<div class="col-sm-12">
				<div class="actions">
					<div class="row">
						<div class="col-sm-12 col-md-8">{{ include('blocks/action/select.html.twig') }}</div>
						<div class="col-sm-12 col-md-4">
							<div class="handle-action">
								{% trans %}Actions{% endtrans %}
								<select class="form-control form-control-sm" name="action">
									<option></option>
									<option value="delete">{% trans %}Delete{% endtrans %}</option>
								</select>
								<button class="btn btn-dark btn-sm">{% trans %}Submit{% endtrans %}</button>
								<button class="btn btn-dark btn-sm" onclick="window.location='{{ path("admin_sales_shipment_import") }}'">{% trans %}Import Shipments{% endtrans %}</button>
							</div>
						</div>								
					</div>
				</div>

				<table class="table table-bordered" width="100%" cellspacing="0">
					<colgroup>
						<col width="105">
						<col width="130">
						<col width="130">
						<col width="105">
						<col width="105">
						<col>
						<col>
					</colgroup>					
					<thead>
						<tr>
							<th>{% trans %}Shipment #{% endtrans %}</th>
							<th>{% trans %}Date Shipped{% endtrans %}</th>
							<th>{% trans %}Updated At{% endtrans %}</th>
							<th>{% trans %}Order #{% endtrans %}</th>		
							<th>{% trans %}Order Date{% endtrans %}</th>							
							<th>{% trans %}Ship To Name{% endtrans %}</th>							
							<th>{% trans %}Track Number{% endtrans %}</th>							
						</tr>
					</thead>
					<tbody>
						<tr class="filter">
							<td><input type="text" name="filters[increment_id]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('increment_id')}}" /></td>
							<td>
								<div class="input-group input-group-sm mb-1">
									<div class="input-group-prepend">
										<span class="input-group-text"">{% trans %}From{% endtrans %}:</span>
									</div>
									<input data-role="datetime" type="date" name="filters[created_at][from]" class="form-control" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('created_at.from')}}" />
								</div>
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text"">{% trans %}To{% endtrans %}:</span>
									</div>
									<input data-role="datetime" type="date" name="filters[created_at][to]" class="form-control" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('created_at.to')}}" />
								</div>
							</td>
							<td>
								<div class="input-group input-group-sm mb-1">
									<div class="input-group-prepend">
										<span class="input-group-text"">{% trans %}From{% endtrans %}:</span>
									</div>
									<input data-role="datetime" type="date" name="filters[cupdated_at][from]" class="form-control" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('cupdated_at.from')}}" />
								</div>
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<span class="input-group-text"">{% trans %}To{% endtrans %}:</span>
									</div>
									<input data-role="datetime" type="date" name="filters[cupdated_at][to]" class="form-control" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('cupdated_at.to')}}" />
								</div>
							</td>												
							<td><input type="text" name="filters[order_increment_id]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('order_increment_id')}}" /></td>					
							<td></td>					
							<td></td>					
							<td><input type="text" name="filters[track_number]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('track_number')}}" /></td>										
						</tr>
					{% for shipment in paginator.results %}
						<tr>
							<td>{{ shipment.incrementId }}</td>
							<td>{{ shipment.createdAt|date('Y-m-d H:i:s') }}</td>
							<td>{{ shipment.updatedAt|date('Y-m-d H:i:s') }}</td>
							<td><a href="{{ path('admin_sales_order_view', {'id': shipment.getParent().id}) }}">{{ shipment.getParent().incrementId }}</a></td>
							<td>{{ shipment.getParent().createdAt|date('Y-m-d H:i:s') }}</td>
							<td>{{ shipment.getParent().getShippingAddress().firstname }} {{ shipment.getParent().getShippingAddress().lastname }}</td>
							<td>
							{% for track in shipment.getTracks() %}
								<span class="d-block">
								{{ track.title }}: <a href="{{ ApiServices.ShipmentTrack|replace({'%track_number%': track.trackNumber}) }}" target="_blank">{{ track.trackNumber }}</a>
								{% if is_granted(['ROLE_ADMIN']) %}
								<a href="{{ path('admin_sales_shipment_track_edit', {'id':track.id}) }}">{% trans %}Edit{% endtrans %}</a>
								{% endif %}
								</span>
							{% endfor %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>