<div class="table-responsive" data-filter-response>
	<div class="dataTables_wrapper">
		{{ include('blocks/paginate.html.twig', {'numPages': paginator.numPages, 'numResults': paginator.numResults}) }}
		<div class="row">
			<div class="col-sm-12">
				<div class="actions">
					<div class="row">
						<div class="col-sm-12 col-md-8">{{ include('blocks/action/select.html.twig') }}</div>
						<div class="col-sm-12 col-md-4">{{ include('blocks/action/handle.html.twig', {'_controller': _controller}) }}</div>
					</div>
				</div>					
				<table class="table table-bordered" width="100%" cellspacing="0">
					<colgroup>
						<col width="40">
						<col>
						<col>
						<col>
						<col>
						<col width="80">
					</colgroup>					
					<thead>
						<tr>
							<th>#</th>
							<th>{% trans %}Username{% endtrans %}</th>
							<th>{% trans %}Security Key{% endtrans %}</th>
							<th>{% trans %}Status{% endtrans %}</th>
							<th>{% trans %}Created At{% endtrans %}</th>
							<th>{% trans %}Action{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
						<tr class="filter">
							<td></td>
							<td><input type="text" name="filters[username]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('username')}}" /></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>						
						</tr>
					{% for user in paginator.results %}
						<tr>
							<td><input type="checkbox" name="ids" value="{{ user.id }}" /></td>
							<td>{{ user.username }}</td>
							<td>{{ user.securityKey }}</td>
							<td>{{ user.isActive|user_status|trans }}</td>
							<td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
							<td class="actions">
								<a href="{{ path('admin_api_users_edit', {'id': user.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Edit{% endtrans%}</a>
								<a href="{{ path('admin_api_users_remove', {'id': user.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Remove{% endtrans%}</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>