<div class="table-responsive" data-filter-response>
	<div class="dataTables_wrapper">
		{{ include('blocks/paginate.html.twig', {'numPages': paginator.numPages, 'numResults': paginator.numResults}) }}

		<div class="row">
			<div class="col-sm-12">
				<div class="actions">
					<div class="row">
						<div class="col-sm-12 col-md-8">{{ include('blocks/action/select.html.twig') }}</div>
						<div class="col-sm-12 col-md-4">{{ include('blocks/action/handle.html.twig') }}</div>
					</div>
				</div>

				<table class="table table-bordered" width="100%" cellspacing="0">			
					<thead>
						<tr>
							<th>#</th>
							<th>{% trans %}Order #{% endtrans %}</th>
							<th>{% trans %}Operator{% endtrans %}</th>
							<th>{% trans %}Operate Result{% endtrans %}</th>										
							<th>{% trans %}Operate Date{% endtrans %}</th>										
						</tr>
					</thead>
					<tbody>
					{% for history in paginator.results %}
						<tr>
							<td><input type="checkbox" name="ids" value="{{ history.id }}" /></td>
							<td>{{ history.getParent().incrementId }}</td>
							<td>{{ history.getUser().getFullname() }}</td>
							<td>{{ history.status }}</td>
							<td>{{ history.getParent().createdAt|date('Y-m-d H:i:s') }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>