<div class="table-responsive" data-filter-response>
	<div class="dataTables_wrapper">
		{{ include('blocks/paginate.html.twig', {'numPages': paginator.numPages, 'numResults': paginator.numResults}) }}

		<div class="row">
			<div class="col-sm-12">
				<div class="actions">
					<div class="row">
						<div class="col-sm-12 col-md-8">{{ include('blocks/action/select.html.twig') }}</div>
						<div class="col-sm-12 col-md-4">{{ include('blocks/action/handle.html.twig', {'_controller': _controller}) }}</div>
					</div>
				</div>

				<table class="table table-bordered" width="100%" cellspacing="0">	
					<colgroup>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col>
						<col width="100">
					</colgroup>							
					<thead>
						<tr>
							<th>#</th>
							<th>{% trans %}Sku{% endtrans %}</th>
							<th>{% trans %}Stock Availability{% endtrans %}</th>
							<th>{% trans %}Image{% endtrans %}</th>						
							<th>{% trans %}GAvailability{% endtrans %}</th>				
							<th>{% trans %}GPrice{% endtrans %}</th>				
							<th>{% trans %}GSale Price{% endtrans %}</th>				
							<th>{% trans %}GGoogle Product Category Id{% endtrans %}</th>				
							<th>{% trans %}GProduct Type{% endtrans %}</th>				
							<th>{% trans %}Brand{% endtrans %}</th>				
							<th>{% trans %}Gtin{% endtrans %}</th>				
							<th>{% trans %}MPN{% endtrans %}</th>				
							<th>{% trans %}GCondition{% endtrans %}</th>				
							<th>{% trans %}GAdult{% endtrans %}</th>				
							<th>{% trans %}GAge Group{% endtrans %}</th>				
							<th>{% trans %}GColor{% endtrans %}</th>				
							<th>{% trans %}GGender{% endtrans %}</th>				
							<th>{% trans %}GMaterial{% endtrans %}</th>				
							<th>{% trans %}Action{% endtrans %}</th>				
						</tr>
					</thead>
					<tbody>
						<tr class="filter">
							<td></td>
							<td><input type="text" name="filters[sku]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('sku')}}" /></td>
							<td></td>
							<td></td>
							<td><input type="text" name="filters[availability]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('availability')}}" /></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					{% for product in paginator.results %}
						<tr>
							<td><input type="checkbox" name="ids" value="{{ product.id }}" /></td>
							<td>{{ product.parent().sku }}</td>
							<td>
							{% if product.parent().catalogInventory %}
							{{ product.parent().catalogInventory.getIsInStock()|product_stock_status|trans }}
							{% endif %}
							</td>
							<td>
							{% if product.parent.getMedia().first() %}
							<img src="{{ product.parent.getMedia().first().getUrl()|imagine_filter('thumbnail_80x80') }}" width="80" height="80" class="thumbnail" />
							{% endif %}
							</td>
							<td>{{ product.gAvailability }}</td>
							<td>{{ product.gPrice }}</td>
							<td>{{ product.gSalePrice }}</td>
							<td>{{ product.gGoogleProductCategoryId }}</td>
							<td>{{ product.gProductType }}</td>
							<td>{{ product.gBrand }}</td>
							<td>{{ product.gGtin }}</td>
							<td>{{ product.gMpn }}</td>
							<td>{{ product.gCondition }}</td>
							<td>{{ product.gAdult|google_yesorno }}</td>
							<td>{{ product.gAgeGroup }}</td>
							<td>{{ product.gColor }}</td>
							<td>{{ product.gGender }}</td>
							<td>{{ product.gMaterial }}</td>
							<td>
							<a href="{{ path('admin_product_google_view', {'id':product.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}View{% endtrans %}</a>
							<a href="{{ path('admin_product_google_push', {'id':product.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Push To Google{% endtrans %}</a>
							<a href="{{ path('admin_product_google_edit', {'id':product.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Edit{% endtrans %}</a>
							<a href="{{ path('admin_product_google_remove', {'id':product.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Remove{% endtrans %}</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>