<div class="table-responsive" data-filter-response>
	<div class="dataTables_wrapper">
		{{ include('blocks/paginate.html.twig', {'numPages': paginator.numPages, 'numResults': paginator.numResults}) }}

		<div class="row">
			<div class="col-sm-12">
				<div class="actions">
					<div class="row">
						<div class="col-sm-12 col-md-8">
							<a href="javascript:;" class="select-all">{% trans %}Select All{% endtrans %}</a>
							<span class="separator">|</span>
							<a href="javascript:;" class="unselect-all">{% trans %}Unselect All{% endtrans %}</a>
						</div>
						<div class="col-sm-12 col-md-4">
							<div class="handle-action">
								{% trans %}Actions{% endtrans %}
								<select class="form-control form-control-sm" name="action">
									<option></option>
									<option value="delete">{% trans %}Delete{% endtrans %}</option>
								</select>
								<button class="btn btn-dark btn-sm">{% trans %}Submit{% endtrans %}</button>
							</div>
						</div>								
					</div>
				</div>

				<table class="table table-bordered" width="100%" cellspacing="0">
					<colgroup>
						<col width="40">
						<col width="100">
						<col width="90">
						<col width="155">
						<col width="155">
						<col width="90">
						<col>
						<col width="90">
					</colgroup>				
					<thead>
						<tr>
							<th>#</th>
							<th>{% trans %}Order #{% endtrans %}</th>
							<th>{% trans %}Order Status{% endtrans %}</th>
							<th>{% trans %}Order Date{% endtrans %}</th>
							<th>{% trans %}Expedited Date{% endtrans %}</th>					
							<th>{% trans %}Expedited Creator{% endtrans %}</th>					
							<th>{% trans %}Comment{% endtrans %}</th>					
							<th>{% trans %}Action{% endtrans %}</th>					
						</tr>
					</thead>
					<tbody>
						<tr class="filter">
							<td></td>
							<td><input type="text" name="filters[increment_id]" class="form-control form-control-sm" value="{{ app.request.getSession().get(filterSessionKey)|getFilter('increment_id')}}" /></td>
							<td>
							<select name="filters[status]" class="form-control form-control-sm">
								<option></option>
								{% for value,name in order_status_list() %}
								<option value="{{ value }}"{% if app.request.getSession().get(filterSessionKey)|getFilter('status') == value %} selected{% endif %}>{{ name|trans }}</option>
								{% endfor %}
							</select>
							</td>										
							<td></td>										
							<td></td>										
							<td></td>										
							<td></td>										
							<td></td>										
						</tr>
					{% for expedited in paginator.results %}
						<tr>
							<td><input type="checkbox" name="ids" value="{{ expedited.id }}" /></td>
							<td>
							<a href="{{ path('admin_sales_order_view', {'id':expedited.getParent().id}) }}">{{ expedited.getParent().incrementId }}</a>
							</td>
							<td>{{ expedited.parent.status|order_status|trans }}</td>
							<td>{{ expedited.getParent().createdAt|date('Y-m-d H:i:s') }}</td>
							<td>{{ expedited.createdAt|date('Y-m-d H:i:s') }}</td>
							<td>{{ expedited.getCreator().getFullname() }}</td>
							<td>{{ expedited.comment|raw }}</td>
							<td class="actions text-center"><a href="{{ path('admin_sales_order_expedited_cancel', {'id':expedited.id}) }}" class="btn btn-dark btn-sm btn-block">{% trans %}Expedited Cancel{% endtrans %}</a></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>